# Librerías Base (Dejamos que uv/pip resuelvan compatibilidad en Linux)
google-cloud-bigquery
pandas
db-dtypes
streamlit
python-dotenv
sqlalchemy
sqlalchemy-bigquery
tabulate

# LangChain & LangGraph
langchain==1.2.7
langchain-core==1.2.7
langchain-google-genai==4.2.0
langgraph==1.0.7
